<div class="container content-wrapper buffer-both">
  <h1 class="title-medium text-center">Править профиль</h1>

  <div class="row">
    <div class="column-1-2">
      <%= form_for(@user) do |f| %>

        <%= render 'shared/errors', resource: @user  %>

        <div class="form-field">
          <%= f.label :username, class: 'form-label' %>
          <%= f.text_field :username, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :avatar_url, class: 'form-label' %>
          <%= f.text_field :avatar_url, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :header_color, class: 'form-label' %>
          <%= f.color_field :header_color, class: 'form-color-field', id: 'header_color' %>
        </div>

        <div class="buffer-top-large buffer-bottom">
          Если не хотите менять пароль — оставьте эти поля пустыми!
        </div>

        <div class="form-field">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'form-text-field' %>
        </div>

        <div class="form-field">
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-text-field' %>
        </div>

        <div class="form-action buffer-top">
          <%= f.submit class: 'button button-dark button-small' %>
          <%= link_to 'Назад', user_path(@user), class: 'button button-dark button-small' %>
          <%= link_to 'Удалить профиль', user_path(@user), class: 'button button-danger button-small',
                      method: :delete, data: {confirm: 'Точно удалить профиль?'} %>
        </div>
      <% end %>
    </div>
    <div class="column-1-2">
      <div class="buffer-left buffer-top">
        <div class="user-header text-center" id="preview_header_color">
          <h1 class="title-medium"><%= @user.name %></h1>
          <div class="buffer-both">Редактировать профиль</div>
          <div class="user-image-div">
            <%= image_tag user_avatar(@user), class: 'user-image', alt: 'Фото' %>
          </div>
          <h2 class="title-small buffer-both">
            @vint
          </h2>
          <div class="user-ask-button container text-center">
            <a class="button button-light" id="ask-button" href="/questions/new">Спроси меня</a>
          </div>
          <div class="user-statistics container text-center">
            <div class="column-1-3">
              <h1 class="title-small">0</h1>
              <p>вопросов</p>
            </div>
            <div class="column-1-3">
              <h1 class="title-small">0</h1>
              <p>ответов</p>
            </div>
            <div class="column-1-3">
              <h1 class="title-small">1</h1>
              <p>безответных</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
